h1 {
  text-align:center;
  background: #eee;
  font-family: "Times New Roman", sans-serif;
  padding: 2px 15px;
  font-size: 50px;
  margin: 0;
  color: black;
}
body {
   background: #eee;
  font-family: "arial", sans-serif;
  padding: 5px 25px;
  font-size: 14px;
  margin-right:100px;
  margin-left:100px;
  color: black;
    ;
}

 p#link{
  font-family: "arial", serif;
  font-size: 20px;
}
p#url {
	font-family: "arial", serif;
  font-size: 12px;
  color:green
}


p#des {
	font-family: "arial", serif;
	font-size: 14px;
	color:gray;
}

p#search {
	font-family: "arial", serif;
	font-size: 14px;
	color:gray;
}

p#search {
  text-align:center;
  background: #eee;
  font-family: "Times New Roman", sans-serif;
  padding: 2px 15px;
  font-size: 50px;
  margin: 0;
  color: black;
}
